body{
  overflow: auto;
}
.btn-primary {
  border-radius:6px;
  border: none;
  padding: 15px;
  margin: 8px;
  width: 94% !important;
  color: white;
  font-size: 15px;
  background-color:  rgb(95, 95, 248);
}
.btn-primary1{
  border-radius:6px;
  border: none;
  padding: 15px;
  margin: 8px;
  width: 94% !important;
  color: white;
  font-size: 15px;
  background-color:  rgb(0, 0, 0);
   
}